@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Rock Salt', cursive;
}

body{
    width: 70%;
    min-width: 290px;
    display: flex;
    justify-content: center;  
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

html{
    /* background: linear-gradient(45deg, #FC466B 0%, #3F5EFB 100%) no-repeat; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

header, article {
    color: white;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    /* min-width: 290px; */
}

header {
    height: 100px;
    font-family: 'Coming Soon', cursive;
    margin-bottom: 10px;
    text-align: center;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

li{
    list-style: none;
    margin-bottom: 10px;
}
